/.DS_Store
/1 Assignment
/2 Assignment
/A4
/A4.zip
/Bulletin of the American Society for Information Science and Technology - 2010 - Brown - Eight principles of information.pdf
/INFO 6150 - 4a_ Design Principles.pdf
/Info 6150 Web Design and User Experience Engineering_ Syllabus spring 2024 - Google Docs (1).pdf
/Info 6150 Web Design and User Experience Engineering_ Syllabus spring 2024 - Google Docs.pdf
/book.html
/index.html
/pizza.html
/截屏2024-02-13 13.54.00.png